streamlit==1.38.0
pandas==2.2.2
plotly==5.24.0
requests==2.32.3
pydantic==2.8.2
pydantic-settings==2.4.0
numpy==1.26.4

# for anomaly detection
scipy==1.13.1
scikit-learn==1.3.2
ruptures==1.1.9

# for news + NLP
feedparser==6.0.10
nltk==3.9.1
vaderSentiment==3.3.2